<!-- <br /><br /> -->
<!-- <div class="centered">
    Select Cateogry :   <select [(ngModel)]="category" (change)="getProductByCategory()">
        <option [value]="100">All</option>
        <option *ngFor="let item of getCategoryList" [value]="item?.value">{{item?.name}}</option>
    </select>
</div> -->
<!-- <br />
<br /> -->



<!-- <br /> -->
<!-- <div *ngIf="productList.length>0" class="centered">
    <app-paging
        [totalItem]="totalItem"
        [pageSize]="pageSize"
        [offset]="offset"
        (onNextPageClick)="onNextPageClick($event)"
        (onPreviousPageClick)="onPreviousPageClick($event)"
        (onFirstPageClick)="onFirstPageClick($event)"
        (onLastPageClick)="onLastPageClick($event)"
    ></app-paging>
</div> -->
<!-- <br /> -->

<div class="background-image" 

style="background-image: url('assets/images/patienthome.jpeg');
            height: 100vh">
</div>