<!-- <div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2"> -->
      <!-- tittle heading -->
      <!-- <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>C</span>ontact
        <span>U</span>s
      </h2> -->
      <!-- //tittle heading -->
      <!-- <div class="row contact-grids agile-1 mb-5">
        <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-map-marker-alt rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h3>
            <p style="font-weight: bold;color:black;">Edubridge
              <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;" href="https://www.google.com/maps?ll=19.112092,72.881931&z=17&t=m&hl=en&gl=IN&mapclient=embed&cid=226938969401991125">#401, Kushwah Chambers, 702 Makwana Rd ,Gamdevi, Marol Andheri (E), Mumbai-59</a></label>
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-phone rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h3>
            <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;" href="tel:+1800 120 1193">1800 120 1193</a>
  
  
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-envelope-open rounded-circle"></i>
            </div>
  
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h3>
            <p>
              <a style="font-weight: bold;color:black;" href="mailto:wecare@edubridgeindia.in">wecare@edubridgeindia.in</a>
            </p>
          </div>
        </div>
      </div> -->


      <!-- new design -->

      <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="assets/images/iphone.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Phone</div>
                                <div class="contact_info_text">+91 9876 543 2198</div>
                            </div>
                        </div>

                        <!-- Email Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="assets/images/filled-message.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Email</div>
                                <div class="contact_info_text">remedyhospitals@gmail.com</div>
                            </div>
                        </div>

                        <!-- Address Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="assets/images/map-marker.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Address</div>
                                <div class="contact_info_text">Jublee Hills, Road No- 12, Near By Peddamma Temple, Hyd, Ts - 500003</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_info">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 offset-lg-1">
                  <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

                      <!-- Emergency Item -->
                      <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                          <div class="contact_info_image"><img src="assets/images/emergency.png" alt=""></div>
                          <div class="contact_info_content">
                              <div class="contact_info_title">Emergency</div>
                              <div class="contact_info_text">+91 852 458 7458</div>
                          </div>
                      </div>

                      <!-- Helpline Item -->
                      <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                          <div class="contact_info_image"><img src="assets/images/helpline.png" alt=""></div>
                          <div class="contact_info_content">
                              <div class="contact_info_title">Helpline</div>
                              <div class="contact_info_text">+91 958 458 7458</div>
                          </div>
                      </div>
                      
                      <!-- GoogleMap Item -->
                      <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60905.10275028658!2d78.33089947700502!3d17.432463349293517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9137d5d720db%3A0x82693d5de02dfde6!2sAsk%20Apollo!5e0!3m2!1sen!2sin!4v1681820391603!5m2!1sen!2sin" width="332" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="contact_info_content">
                          <div class="contact_info_title">Google Map</div>
                      </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>

    <!-- Contact Form -->

    <!-- <div class="contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_form_container">
                        <div class="contact_form_title">Get in Touch</div>

                        <form action="#" id="contact_form">
                            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                                <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Your name" required="required" data-error="Name is required.">
                                <input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="Your email" required="required" data-error="Email is required.">
                                <input type="text" id="contact_form_phone" class="contact_form_phone input_field" placeholder="Your phone number">
                            </div>
                            <div class="contact_form_text">
                                <textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                            </div>
                            <div class="contact_form_button">
                                <button type="submit" class="button contact_submit_button">Send Message</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel"></div>
    </div> -->
