h1 {
    font-size: 20px;
    margin-top: 5px;
}

img {
    width: 100vw;
    height: 400px;
}

#exploreMenuSection img {
    height: 203px;
}

.bag-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
