<br />
<br />
<div *ngIf="!isShowChangePassword" class="forgot-password">
    <h3>Forgot Password</h3>
    <br />
    <table>
        <tr>
            <td>Enter Email</td>
            <td><input type="text" [(ngModel)]="email" /></td>
        </tr>
    </table>
    <br />
    <button (click)="onSubmit()">Submit</button>
</div>
<div *ngIf="isShowChangePassword" class="forgot-password">
    <h3>Change Password</h3>
    <br />
    <table>
        <tr>
            <td>Enter New Password</td>
            <td><input type="password" [(ngModel)]="newPassword" /></td>
        </tr>
    </table>
    <br />
    <button (click)="onChangePassword()">Submit</button>
</div>