<!-- <br /><br />
<div class="main admin-login">
    <h1>Admin SignIn</h1>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="text" [(ngModel)]="email" placeholder="Email">
    </div>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <br />
    <div>
        <button (click)="signIn()" mat-raised-button color="primary">SignIn</button>
    </div>
  </div> -->
  
  <!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
             <br />
            <span style="color: hsl(218, 81%, 75%)"></span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            A hospital administrator is a professional who oversees the daily operations of a hospital by planning, directing, and coordinating health services.
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <!-- <form> -->
                <h1>Admin SignIn</h1>
                
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" [(ngModel)]="email" class="form-control" />
                  <label class="form-label" [(ngModel)]="email">Email address</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" [(ngModel)]="password" class="form-control" />
                  <label class="form-label" [(ngModel)]="password">Password</label>
                </div>
  
                <!-- Submit button -->
                <button (click)="signIn()" class="btn btn-primary btn-block mb-4">
                  SignIn 
                </button>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->