.main
{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #000000;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
}
.main > .selected {
    background: maroon;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px 0 10px;
}
.user-name-item {
    display: flex;
    align-items: center;
}

.main div
{
    cursor: pointer;
}
.main img {
    height: 111px;
    width: 200px;
}